//-----------------------------------
//	COLORS
//-----------------------------------
$grand-gold:	#C09D39;
$grand-black:	#222222;
$grand-l-grey:	#EAEAEA;
$grand-red:		#5F0F2C;

//-----------------------------------
//	LAYOUT
//-----------------------------------
$outer-container-mw:	1100px;